---
// [Data]
import { navigationLinks } from '../../../data/navigation'; // Navigation Link Routes

// [Components]
import NavLinkItem from '../NavLinkItem.astro'; // Navigation Link Items
import ThemeToggle from './ThemeToggle.astro'; // Theme Toggle Button
import ButtonPrimaryCta from '../../ButtonPrimaryCta.astro';

// [Styles] Navigation Link Group: <ul>
const { linkGroupSpacing, linkGroupLayout } = {
	linkGroupSpacing: 'gap-x-8',
	linkGroupLayout:
		'hidden desktop:flex desktop:justify-between desktop:items-center',
};

// [Styles] CTA Button: <button>
const { ctaContainer, ctaPadding, ctaColors } = {
	ctaContainer: 'hidden desktop:flex desktop:gap-2',
	ctaPadding: 'px-3 py-2',
	ctaColors: 'text-black',
};

// [Styles] Custom Style Props
const { customCTAStyles = '' } = Astro.props;
---

<ul
	class=`${linkGroupSpacing} ${linkGroupLayout}`
	}
>
	{
		navigationLinks.map((link) => (
			<NavLinkItem
				text={link.text}
				url={link.url}
				variant="desktop"
			/>
		))
	}
</ul>
<div
	class=`${ctaContainer}`
	}
>
	<!-- <ThemeToggle /> -->
	<ButtonPrimaryCta class="!bg-branded-blue !py-4 !px-10 !min-w-fit" />
</div>
