---
// [Components]
import HeaderLogo from './HeaderLogo.astro'; // Company Logo
import MobileNavigation from './MobileNavigation.astro'; // Mobile Navigation Menu
import DesktopNavigation from './DesktopNavigation.astro'; // Desktop Navigation Menu

// [Styles] - Header: <header>
const { headerSpacing, headerLayout, headerColors } = {
	headerSpacing: 'w-full h-24 px-padding-x',
	headerLayout: 'flex justify-center items-center sticky top-0 z-50 mx-auto',
	headerColors: 'bg-white shadow-md shadow-dark-permanent/20',
};

// [Styles] - Navigation: <nav>
const { navSpacing, navLayout, navColors } = {
	navSpacing: 'size-full',
	navLayout:
		'flex justify-between items-center w-full mx-auto max-w-content-max',
	navColors: '',
};

// [Styles] - Props - Custom Styles
const { customHeaderStyles = '', customNavStyles = '' } = Astro.props;
---

<header
	class=`${headerSpacing} ${headerLayout} ${headerColors} ${customHeaderStyles}`
>
	<nav class=`${navSpacing} ${navLayout} ${navColors} ${customNavStyles}`>
		<HeaderLogo />
		<MobileNavigation />
		<DesktopNavigation />
	</nav>
</header>

<script>
	import { animateComponents } from '../../../scripts/animations';
	document.addEventListener('DOMContentLoaded', () => {
		animateComponents.header();
	});
</script>
