---
// [Data]
import { navigationLinks, CtaLink } from '../../../_data/navigation'; // Navigation Link Routes

// [Components]
import NavLinkItem from '../NavLinkItem.astro'; // Navigation Link Items
import MobileMenuButton from './MobileMenuButton.astro'; // Mobile Menu Button (Hamburger
import ThemeToggle from './ThemeToggle.astro'; // Theme Toggle Button
import ButtonPrimaryCta from '../../ButtonPrimaryCta.astro';

// [Styles] Navigation Link Group: <div> and <ul>
const { dropDownContainer, linkGroupSpacing, linkGroupLayout } = {
	dropDownContainer:
		'hidden absolute top-24 left-0 right-0 z-50 translate-y-[-1.25rem] rounded-b-[1.25rem] overflow-hidden z-40',
	linkGroupSpacing: 'gap-y-3',
	linkGroupLayout: 'lg:hidden flex flex-col items-center justify-center py-10',
};
---

<div class='lg:hidden flex gap-1'>
	<!-- <ThemeToggle /> -->
	<MobileMenuButton />
</div>
<div
	id='mobile-menu'
	class=`${dropDownContainer} bg-white`
>
	<ul class=`${linkGroupSpacing} ${linkGroupLayout}`>
		{
			navigationLinks.map((link) => (
				<NavLinkItem
					text={link.text}
					url={link.url}
					className='!text-2xl'
				/>
			))
		}
		<ButtonPrimaryCta className='' />
	</ul>
</div>
