---
// [Components]
import SectionContainer from '../../components/global/SectionContainer.astro';
import ButtonPrimaryCta from '../../components/ButtonPrimaryCta.astro';

// [Styles] - Wrapper: <div>
const { textWrapper, titleWrapper } = {
	textWrapper:
		'w-full max-w-7xl flex flex-col gap-8 tablet:max-w-[70%] xl:max-w-[50%]',
	titleWrapper: 'flex flex-col gap-3',
};

// [Styles] - Topper: <span>
const { topperText } = {
	topperText:
		'text-primary-orange font-bold uppercase tracking-widest text-topper',
};

// [Styles] - Title: <h1> and <span>
const { titleText, spanText } = {
	titleText:
		'text-display font-bold tracking-[-0.03em] leading-none uppercase text-light-permanent',
	spanText: 'text-primary-orange',
};

// [Styles] - Body Text: <p>
const { bodyText } = {
	bodyText:
		'text-body  font-medium text-light-permanent tablet:max-w-[80%] xl:max-w-[100%]',
};

// [Styles] - CTA Links: <div> and <a>
const { buttonLayout, anchorText } = {
	buttonLayout: 'flex gap-4 items-center',
	anchorText: 'text-primary-blue font-bold uppercase text-button',
};

// [Styles] - Image: <div> and <img>
const { imageWrapper, image } = {
	imageWrapper:
		'w-full flex justify-center overflow-hidden tablet:absolute tablet:bottom-0 tablet:justify-end tablet:right-0 z-0 xl:w-fit',
	image:
		'w-full max-w-[600px] h-full object-cover tablet:translate-x-[23%] desktop:max-w-[800px] xl:translate-x-[0%] xl:max-w-[1000px]',
};
---

<SectionContainer
	class="hero-section bg-contrast-permanent relative pb-0 tablet:pb-16 desktop:py-32 desktop:px-16 xl:py-40"
	containerClass="tablet:items-start desktop:flex-row gap-5 items-center"
>
	<div class=`${textWrapper}`>
		<div class=`${titleWrapper}`>
			<span class=`${topperText}`>where design meets functionality</span>
			<h1 class=`${titleText}`>
				GET A Website That Works as Hard as You Do — <span class=`${spanText}`
					>Without the Upfront Cost</span
				>
			</h1>
		</div>
		<p class=`${bodyText}`>
			We help service-based businesses get more bookings, automate client
			interactions, and establish a strong online presence — all for an
			affordable monthly subscription, with no large upfront costs.
		</p>
		<div class=`button-group ${buttonLayout}`>
			<ButtonPrimaryCta ctaText="Get Started" />
			<a
				href=""
				class=`relative ${anchorText}`
				>Learn More</a
			>
		</div>
	</div>
	<div class=`image-wrapper ${imageWrapper}`>
		<img
			class=`${image}`
			src="/src/assets/hero-image.png"
			alt="Hero Image"
		/>
	</div>
</SectionContainer>

<script>
	import { animateComponents } from '../../scripts/animations';

	// Initialize the icon card animations
	document.addEventListener('DOMContentLoaded', () => {
		animateComponents.heroSection();
	});
</script>

<style>
	a::after {
		content: '';
		width: 100%;
		height: 2px;
		background-color: var(--color-primary-blue);
		position: absolute;
		bottom: 0;
		left: 0;
		transform: scaleX(0); /* Initially hidden */
		transform-origin: center; /* Animates from left to right */
		transition: transform 0.3s ease-in-out; /* Smooth transition */
	}

	a:hover::after {
		transform: scaleX(1); /* Expands the underline */
	}
</style>
