---
const { icon, title, description, ctaText, ctaLink } = Astro.props;

let IconComponent;
try {
	IconComponent = await import(`../../assets/icons/${icon}.astro`).then(
		(module) => module.default
	);
} catch (e) {
	console.error(`Failed to load icon: ${icon}`);
}
---

<div
	class='card shadow-2xl px-4 py-6 basis-full min-w-[300px] md:basis-[32%] grow shrink-0 rounded-[0.875rem]'
>
	{IconComponent && <IconComponent />}
	<div class='text'>
		<div class='title text-contrast-permanent'>{title}</div>
		<div class='desc'>{description}</div>
	</div>
	<div class='cta'>{ctaText}</div>
</div>
