---
const { icon, title, description, class: className = '' } = Astro.props;

let IconComponent;
try {
	IconComponent = await import(`../../assets/icons/${icon}.astro`).then(
		(module) => module.default
	);
} catch (e) {
	console.error(`Failed to load icon: ${icon}`);
}

// Fix: Hourglass is visually larger than other icons, this checks and adjusts the sizing to match the other icons visually
const isHourGlass = icon === 'hourglass';
---

<li class=`flex gap-3 ${className}`>
	<span
		class=`${isHourGlass ? 'w-8 h-6 translate-x-1' : 'w-8 h-8'} flex items-center `
	>
		{
			IconComponent && (
				<IconComponent
					width="100%"
					height="100%"
				/>
			)
		}
	</span>
	<div class="flex flex-col gap-2">
		<h3
			class=`capitalize font-bold text-xl ${isHourGlass ? 'leading-none' : ''}`
		>
			{title}
		</h3>
		<p class="desktop:max-w-[600px]">{description}</p>
	</div>
</li>
