---
import { client } from '../_data/client.js';

const email = client.email || null;
const phone = client.phone || null;
// const lineOne = client.address.lineOne || null;
// const lineTwo = client.address.lineTwo || null;
const city = client.address.city || null;
const province = client.address.province || null;
// const postalCode = client.address.postalCode || null;
const logo = client.logo.footer || null;

const navigationLinks = [
	{
		name: 'Home',
		url: '/'
	},
	{
		name: 'About Us',
		url: '/about'
	},
	{
		name: 'Reviews',
		url: '/reviews'
	},
	{
		name: 'Design',
		url: '/design'
	},
	{
		name: 'Development',
		url: '/development'
	},
	{
		name: 'SEO',
		url: '/seo'
	},
	{
		name: 'Blog',
		url: '/blog'
	},
	{
		name: 'Contact',
		url: '/contact'
	}
];

const contactInfo = [
	{
		name: 'Email',
		url: `mailto:${email}`,
		value: "info@impactwebstudio.ca",
		icon: '/assets/svgs/sendArrow.svg'
	},
	{
		name: 'Phone',
		url: `tel:${phone}`,
		value: "+1 (647) 767-8840",
		icon: '/assets/svgs/phone.svg'
	},
	{
		name: 'Address',
		value: `${city}, ${province}`,
		icon: '/assets/svgs/location.svg'
	},
	{
		name: 'Hours',
		value: "24/7",
		icon: '/assets/svgs/clock-24.svg'
	}
];

const currentYear = new Date().getFullYear();

---

<footer id='footer'>
	<div class='container'>
		<div class='left-section'>
			{
				logo && (
					<>
						<a
							class='logo'
							href='/'
						>
							<img
								loading='lazy'
								decoding='async'
								src={logo}
								alt='logo'
							/>
						</a>
					</>
				)
			}
			<p>
				We believe small businesses deserve better. Just because you're small, doesn't mean your site needs to be. Let us make you something amazing.
			</p>
		</div>
		<div class='right-section'>
			<div class='lists'>
				<div class="navigation-links">
					<h2>Quick Links</h2>
					<ul>
						{
							navigationLinks.map((link, index) => (
								<li key={index}>
									<a href={link.url}>{link.name}</a>
								</li>
							))
						}
					</ul>
				</div>
				<div class="contact-info">
					<h2>Contact</h2>
					<ul>
						{
							contactInfo.map((info, index) => (
								<li key={index} class="contact-item">
									<img src={info.icon} height="20" width="20"></img>
									{(info.url && (<a href={info.url}>{info.value}</a>)) || <span>{info.value}</span>}
								</li>
							))
						}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class='credit'>
		<span>Designed and Hand Coded by</span>
		<a
			href='https://www.impactwebstudio.ca'
			target='_blank'
			rel='noopener'
			>Impact Web Studio</a
		>
		<span class='copyright'>Copyright &copy {currentYear}</span>
	</div>
</footer>

<style>
/* Mobile */
@media only screen and (min-width: 0rem) {
	#footer{
		background: var(--dark-one);
		padding: 3rem 0.75rem;
		font-size: min(4vw, 1.2em);
	}

	.container{
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.left-section {
		margin: auto;
		text-align: left;
	}
	.left-section .logo {
		display: inline-block;
		margin: auto;
		height: auto;
		text-align: left;
	}
	.left-section .logo img {
		display: block;
		height: 100%;
		width: 100%;
	}
	.left-section p {
		padding: 0rem 0.5rem;
		width: 100%;
		font-size: 0.875rem;
		color: var(--light-two);
	}
	.right-section {
		margin: auto;
		max-width: 25.4375rem;
		width: 100%;
	}
	.right-section .lists {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		justify-content: space-between;
		max-width: 19.1875rem;
		width: 100%;
	}
	.right-section .lists div {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.right-section .lists .navigation-links ul {
		display: flex;
		flex-wrap: wrap;
		gap: 0.25rem;
	}

	.right-section .lists .contact-info ul {
		display: flex;
		flex-direction: column;
		gap: 0.825rem;
	}

	.contact-info li {
		display: flex;
		gap: 0.5rem;
	}

	.right-section .lists ul li {
		list-style: none;
		font-size: 1rem;
		color: var(--light-one);
	}

	.right-section .lists .navigation-links ul li {
		width: calc(50% - 1rem);
	}

	.right-section .lists ul li a {
		text-decoration: none;
		color: var(--light-one);
		transition: color 0.3s;
	}
	.right-section .lists ul li a:hover {
		color: var(--accent-yellow-light-mode);
	}
	.right-section .lists h2 {
		position: relative;
		text-transform: uppercase;
		font-size: 1.25rem;
		font-weight: bold;
		color: var(--light-one);
		height: fit-content;
		width: fit-content;
	}
	.right-section .lists h2:before {
		position: absolute;
		bottom: -0.25rem;
		left: 0;
		content: '';
		opacity: 1;
		display: block;
		background: var(--accent-yellow-light-mode);
		height: 0.125rem;
		width: 100%;
	}
	.right-section .lists ul:nth-of-type(3) {
		margin-top: 3.125rem;
	}
	.right-section .lists ul:nth-of-type(3) li {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 1rem;
	}
	.right-section .lists ul:nth-of-type(3) li:last-of-type {
		margin-bottom: 0;
	}
	.right-section .buttons {
		display: flex;
		justify-content: center;
	}
	.right-section .iws-button-solid {
		margin: 0;
		height: 3.3125rem;
		width: 15.625rem;
		padding-top: 0.1875rem;
	}
	.credit {
		margin: auto;
		margin-top: 6.25rem;
		width: 100%;
		font-size: 0.875rem;
		color: var(--light-three);
		text-align: center;
	}
	.credit a {
		text-decoration: none;
		font-size: 0.875rem;

		color: var(--accent-yellow-light-mode);
	}
	.credit a:hover {
		text-decoration: underline;
	}
	.credit .copyright {
		display: block;
		font-size: 0.875rem;
		color: var(--light-three);
	}
}
/* Small Desktop */
@media only screen and (min-width: 64rem) {
	{
		font-size: min(1.2vw, 1em);
	}
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin: auto;
		max-width: 82.5rem;
		width: 100%;
		padding: 0;
	}
	.left-section {
		margin: 0;
		width: 25.5625rem;
		text-align: left;
	}
	.left-section .logo {
		margin-left: 0;
		height: 2.5rem;
		text-align: left;
	}
	.left-section p {
		margin-left: 0;
		text-align: left;
	}
	.right-section {
		margin: 0;
		max-width: none;
		width: 38.0625rem;
	}
	.right-section .lists {
		margin: 0;
		width: 100%
	}
	.right-section .lists ul li a {
		position: relative;
	}
	.right-section .lists ul li a:before {
		position: absolute;
		bottom: -0.1875rem;
		left: 0;
		content: '';
		opacity: 1;
		display: block;
		background: var(--primary);
		height: 0.125rem;
		width: 0%;
		transition: width 0.3s;
	}
	.right-section .lists ul li a:hover:before {
		width: 100%;
	}
	.right-section .lists ul:nth-of-type(3) {
		margin-top: 0;
	}
	.right-section .lists ul:nth-of-type(3) li:first-of-type {
		margin-bottom: 0;
	}
	.right-section .buttons {
		justify-content: flex-start;
	}
	.credit .copyright {
		display: inline-block;
	}
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
	body.dark-mode {
		background: #061623;
	}
}
</style>