---
const { topper, heading, description, cta, ctaLink } = Astro.props;
---

<div class='iws-container'>
	{topper && <span class='iws-topper'>{topper}</span>}
	<div class='iws-content'>
		<h2 class='iws-header'>{heading}</h2>
		{description && <p class='iws-text'>{description}</p>}
		{cta && <a href={ctaLink}>{cta}</a>}
	</div>
</div>

<style>
	.iws-container{
		margin-bottom: clamp(3rem, 2.4286rem + 2.8571vw, 5rem);
	}

	.iws-container,
	.iws-content {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items:center;
		width: 100%;
	}

	.sbs{
		flex-direction: row;
		justify-content: space-between;
	}

	span {
		font-size: var(--topperFontSize);
		color: var(--dark-three);
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	h2 {
		text-transform: uppercase;
		font-size: var(--headerFontSize);
	}

	p {
		font-size: var(--bodyFontSize);
		color: var(--dark-two);
	}
	/* Tablet */
@media only screen and (width >= 68.75rem){

	.iws-container{
		align-items: flex-start;
	}

	.iws-content{
		flex-direction: row;
		text-align: left;
		justify-content: space-between;
		align-items: flex-start;

	}

	h2{
		max-width: 600px;
	}

	p{
		max-width: 500px;
		text-align: left;
	}
}

	/* Desktop */
	@media screen and (min-width: 1000px) {
	}
</style>
