---
const { topper, heading, description, cta, ctaLink, additionalClasses } =
	Astro.props;
---

<div class=`iws-container ${additionalClasses}`>
	{topper && <span class='iws-topper'>{topper}</span>}
	<div class='iws-content'>
		<h2 class='iws-header'>{heading}</h2>
		<div class='body'>
			{description && <p class='iws-text'>{description}</p>}
			{
				cta && (
					<a
						class='iws-button-solid'
						href={ctaLink}
					>
						{cta}
					</a>
				)
			}
		</div>
	</div>
</div>

<style>
	.iws-container {
		margin-bottom: clamp(3rem, 2.4286rem + 2.8571vw, 4rem);
	}

	.iws-container,
	.iws-content {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		width: 100%;
	}

	span {
		font-size: var(--topperFontSize);
		color: var(--dark-three);
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	h2 {
		text-transform: uppercase;
		font-size: var(--headerFontSize);
	}

	p {
		font-size: var(--bodyFontSize);
		color: var(--dark-two);
	}

	a {
		width: fit-content;
	}

	.iws-button-solid {
		font-size: 1rem;
		line-height: 3rem;
		text-decoration: none;
		font-weight: 700;
		text-align: center;
		margin: 0;
		color: var(--dark-one);
		min-width: 9.375rem;
		padding: 0 1.5rem;
		background-color: var(--accent-yellow-light-mode);
		border-radius: 100px;
		display: inline-block;
		position: relative;
		z-index: 1;
		/* prevents padding from adding to the width */
		box-sizing: border-box;
		width: fit-content;
		align-self: center;
		margin-top: 1rem;
	}

	.iws-button-solid:hover {
		color: var(--light-one);
	}
	@media only screen and (width >= 68.75rem) {
		.iws-container {
			align-items: flex-start;
		}

		.iws-content {
			flex-direction: row;
			text-align: left;
			justify-content: space-between;
			align-items: flex-start;
		}

		h2 {
			max-width: 600px;
			width: 60%;
		}

		/* no max width on header if description does not exist */
		.iws-content:not(:has(p)) h2 {
			max-width: none;
		}

		p {
			max-width: 600px;
			text-align: left;
		}

		.iws-button-solid {
			align-self: start;
		}
	}

	/* Alternative Styling for Pricing Card */
	.pricing-page .iws-topper {
		color: var(--accent-yellow-light-mode);
	}

	.pricing-page .iws-header {
		color: var(--light-one);
	}

	.pricing-page .iws-text {
		color: var(--light-two);
	}
	.pricing-page .iws-button-solid:hover {
		color: var(--dark-one);
	}

	.pricing-page .iws-button-solid:before {
		background: var(--light-one);
	}
</style>
