---
// [Data]
import { navigationLinks, CtaLink } from '../../_data/navigation'; // Navigation Link Routes

// [Components]
import NavLinkItem from './navLinkItem.astro'; // Navigation Link Items
import ThemeToggle from './ThemeToggle.astro'; // Theme Toggle Button
import ButtonPrimaryCta from '../ButtonPrimaryCta.astro';

// [Styles] Navigation Link Group: <ul>
const { linkGroupSpacing, linkGroupLayout } = {
	linkGroupSpacing: 'gap-x-8',
	linkGroupLayout: 'hidden lg:flex lg:justify-between lg:items-center',
};

// [Styles] CTA Button: <button>
const { ctaContainer, ctaPadding, ctaColors } = {
	ctaContainer: 'hidden lg:flex lg:gap-2',
	ctaPadding: 'px-3 py-2',
	ctaColors: 'text-black',
};

// [Styles] Custom Style Props
const { customCTAStyles = '' } = Astro.props;
---

<ul
	class=`${linkGroupSpacing} ${linkGroupLayout}`
	}
>
	{
		navigationLinks.map((link) => (
			<NavLinkItem
				text={link.text}
				url={link.url}
				active={link.active}
				variant='desktop'
			/>
		))
	}
</ul>
<div
	class=`${ctaContainer}`
	}
>
	<ThemeToggle />
	<a
		href={CtaLink.url}
		class=`${ctaPadding} ${ctaColors} ${customCTAStyles} ${CtaLink.active ? 'active' : ''}`
		>{CtaLink.text}</a
	>
	<ButtonPrimaryCta classNames='!bg-branded-blue' />
</div>
