---
// [Import] Navigation Link List Item
import NavLinkItem from './navLinkItem.astro';

// [Data] - Navigation Links
const navLinks = [
	{ text: 'Home', url: '/', active: true },
	{ text: 'About', url: '/about', active: false },
	{ text: 'Services', url: '/services', active: false },
	{ text: 'Portfolio', url: '/portfolio', active: false },
	{ text: 'Pricing', url: '/pricing', active: false },
];

// [Data] - CTA Link (Separate)
const ctaLink = { text: 'Contact', url: '/contact' };

// [Styles] - Header
const { headerPadding, headerColors } = {
	headerPadding: 'px-3 py-2',
	headerColors: 'bg-green-600',
};

// [Styles] - Navigation
const { NavPadding } = {
	NavPadding: 'px-3 py-2',
};

// [Styles] - Logo
const { logoContainer, logoSrc } = {
	logoContainer: 'flex items-center',
	logoSrc: 'w-12 h-12',
};

// [Styles] - CTA
const { ctaPadding, ctaColors } = {
	ctaPadding: 'px-3 py-2',
	ctaColors: 'text-black bg-green-600',
};

// [Styles] - Props - Custom Styles
const {
	customHeaderStyles = '',
	customNavStyles = '',
	customCTAStyles = '',
} = Astro.props;
---

<header class=`${headerPadding} ${headerColors} ${customHeaderStyles}`>
	<nav class={`${NavPadding} ${customNavStyles}`}>
		<div class=`${logoContainer}`>
			<img
				class=`${logoSrc}`
				src='/assets/images/iws-favicon.png'
				alt='Impact Web Studio Favicon'
			/>
		</div>
		<!-- Navigation Links -->
		<ul>
			{
				navLinks.map((link) => (
					<NavLinkItem
						text={link.text}
						url={link.url}
						active={link.active}
					/>
				))
			}
		</ul>
	</nav>
</header>
<div class='header-btn'>
	<button class='primary-btn'>Toggle Dark Mode</button>
	<a
		href={ctaLink.url}
		class=`${ctaPadding} ${ctaColors} ${customCTAStyles}`
		>{ctaLink.text}</a
	>
</div>
<script>
	// [Dark Mode] - Button Toggle
	const btn = document.querySelector('.primary-btn');
	btn?.addEventListener('click', () => {
		document.documentElement.classList.toggle('dark');
	});

	// [NavBar] - Scroll Animation
	import { scroll, animate } from 'motion';
	scroll((progress: any) => {
		if (progress >= 0.9) {
			animate(
				'header',
				{ transform: 'scaleX(80%) translateY(2rem)' },
				{ duration: 0.5, ease: 'easeOut' }
			);
		} else {
			animate(
				'header',
				{ transform: 'scaleX(100%) translateY(0px)' },
				{ duration: 0.5, ease: 'easeOut' }
			);
		}
	});
</script>

<style>
	header {
		position: sticky;
		top: 0;
		height: 150px;
	}
</style>
