---
// [Props] SEO Meta Tags
const {
	title = 'Impact Web Studio Inc.',
	description = 'Business process automation and web development services in Canada and the United States.',
	author = 'Kenny Nguyen',
	robots = 'index, follow',
	url = 'https://www.impactwebstudio.ca',
	canonicalUrl,
	keywords,
} = Astro.props;

// [Import] Global CSS
import '../../styles/global.css';
---

<!-- SEO Meta Tags -->
<title>{title}</title>
{
	description && (
		<meta
			name="description"
			content={description}
		/>
	)
}
<meta
	name="robots"
	content={robots}
/>
<meta
	name="author"
	content={author}
/>

{
	keywords && keywords.length > 0 && (
		<meta
			name="keywords"
			content={keywords.join(', ')}
		/>
	)
}

<!-- Canonical URL -->
<link
	rel="canonical"
	href={canonicalUrl || url}
/>

<!-- Open Graph tags -->
<meta
	property="og:title"
	content={title}
/>
{
	description && (
		<meta
			property="og:description"
			content={description}
		/>
	)
}
<meta
	property="og:url"
	content={url}
/>
<meta
	property="og:type"
	content="website"
/>

<slot />
