---
// [Data]
import { navigationLinks, CtaLink } from '../../_data/navigation'; // Navigation Link Routes

// [Components]
import NavLinkItem from './navLinkItem.astro'; // Navigation Link Items
import MobileMenuButton from './MobileMenuButton.astro'; // Mobile Menu Button (Hamburger
import ThemeToggle from './ThemeToggle.astro'; // Theme Toggle Button

// [Styles] Navigation Link Group: <div> and <ul>
const { dropDownContainer, linkGroupSpacing, linkGroupLayout } = {
	dropDownContainer: 'hidden absolute top-24 left-0 right-0 z-50',
	linkGroupSpacing: 'gap-x-8',
	linkGroupLayout: 'lg:hidden flex flex-col p-4',
};
---

<div class='lg:hidden flex gap-1'>
	<ThemeToggle />
	<MobileMenuButton />
</div>
<div
	id='mobile-menu'
	class=`${dropDownContainer}`
>
	<ul class=`${linkGroupSpacing} ${linkGroupLayout}`>
		{
			navigationLinks.map((link) => (
				<NavLinkItem
					text={link.text}
					url={link.url}
					active={link.active}
					variant='mobile'
				/>
			))
		}
		{/* Include CTA in mobile menu */}
		<li class='py-2'>
			<a
				href={CtaLink.url}
				class=`block py-2 ${CtaLink.active ? "active" : ""}`
				>{CtaLink.text}</a
			>
		</li>
	</ul>
</div>
