---
const { sectionLayout, sectionSpacing } = {
	sectionLayout: 'flex justify-center align-center',
	sectionSpacing: 'w-full h-fit px-padding-x py-padding-y',
};

const { containerLayout, containerSpacing } = {
	containerLayout: 'w-full h-full max-w-content-max mx-auto',
	containerSpacing: 'flex flex-col',
};

const { class: className, containerClassName = '' } = Astro.props;
---

<section class=`${sectionLayout} ${sectionSpacing} ${className}`>
	<div class=`${containerLayout} ${containerSpacing} ${containerClassName}`>
		<slot />
	</div>
</section>
