---
const { sectionLayout, sectionSpacing } = {
	sectionLayout: 'flex justify-center align-center',
	sectionSpacing: 'w-full h-full px-3 pt-16',
};

const { containerLayout, containerSpacing } = {
	containerLayout: 'w-full max-w-content-max mx-auto',
	containerSpacing: 'flex flex-col lg:flex-row justify-between items-center',
};

const { sectionClassNames, containerClassNames } = Astro.props;
---

<section class=`${sectionLayout} ${sectionSpacing} ${sectionClassNames}`>
	<div class=`${containerLayout} ${containerSpacing} ${containerClassNames}`>
		<slot />
	</div>
</section>
